<!DOCTYPE html>
{% load static %}
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>feed</title>
                <link rel="icon" type="image/png" href="{% static 'images/logo_transparent_cropped.jpg' %}"/>
                <script src="{% static 'js/jquery_for_ajax/jquery.min.js' %}"></script>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <!-- Bootstrap core CSS -->
                <link rel="stylesheet" href="{% static 'bootstrap_material_design/css/bootstrap.min.css' %}">
                <!-- Material Design Bootstrap -->
                <link rel="stylesheet" href="{% static 'bootstrap_material_design/css/mdb.min.css' %}">
                <!-- Your custom styles (optional) -->
                <script src="{% static 'bootstrap_material_design/js/bootstrap.min.js' %}"></script>
                <link rel="stylesheet" href="{% static 'css/MainApp/feed.css' %}">
                <script src="{% static 'js/AjaxRequest.js' %}"></script>
        </head>
        <body>
                <script>
                        
                </script>
        </body>
</html>